@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}
#form-booking {
  width: 100%;
  /* width: 713px; */

  height: 1396px;
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.book {
  font-size: 17px;
  color: #222222;
}

.title {
  color: #4c4c4c;
}

.title > p {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.2em;
}

.title > h3 {
  font-size: 18px;
  line-height: 20px;
  text-align: left;
}

.note {
  font-size: 90%;
  font-size: 15px;
  padding: 5px 0 20px 0;
}

.line-frm > h1 {
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  padding: 29px 0 10px 0;
  position: relative;
}
.input input,
#loai,
#choice,
textarea {
  width: 100%;
  height: 100%;
  padding: 12px;
  border-radius: 5px 5px 5px 5px;
  border: 1px ridge rgb(144, 137, 137);
  color: #3a3939;
  transition: all 0.5s;
  font-size: 15px;
  background-color: #f8f9fa;
}
.input input:hover,
#loai:hover,
#choice:hover {
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border: 1px ridge #1fd1f9  ;

}

#tooltipText {
  position: absolute;
  left: 125px;
  top: -40px;
  height: 3em;
  transform: translateX(-50%);
  background-color: #ffffff;
  color: #000;
  white-space: nowrap;
  border-radius: 7px;
  padding: 10px 10px;
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
  box-shadow: 1px -2px 2px 2px #e5e5e5;
  font-weight: 400;
}
#tooltipText::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: #f5f3f3 #0000 #0000 #0000;
}

.line-frm:hover #tooltipText {
  visibility: visible;
  opacity: 1;
}

.btn {
  display: inline-block;
  height: 42px;
}
.btn input {
  padding: 15px 20px;
}
.btn > input {
  margin-top: 20px;
  cursor: pointer;
  background-color: #222222;
  color: #ffffff;
  border: none;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 112px;
  height: 42px;
}
.btn:hover input {
  background-color: #8b8b8b;
  color: #464040;
}

.error {
  margin-top: 25px;
  color: #793838;
}

#yourname_empty,
#phone_empty,
#address_empty,
#time_empty,
#petname_empty,
#sexual_empty,
#age_empty,
#kilo_empty,
#notes_empty,
#choice_empty {
  color: #d40000;
  font-size: 13px;
  display: none;
  margin-top: 3px;
}

/* reponsive */

@media (max-width: 768px) {
  #form-booking {
    max-width: 80%;
  }
}

@media (max-width: 635px) {
  #form-booking {
    margin: 0 20px;
    max-width: 90%;
  }
}
@media (max-width: 320px) {
  #form-booking {
    margin: 0 30px;
    max-width: 100%;
  }
}
